
{% extends 'base-back.html.twig' %}

{% block body %}
    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no">
        <meta http-equiv="X-Ua-Compatible" Content="ie=edge">
    </head>
    <body>
    <h1>Liste Des Staff</h1>
    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-12">
                <div class="bg-light rounded h-100 p-4">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">nom</th>
                            <th scope="col">prenom</th>
                            <th scope="col">sexe</th>
                            <th scope="col">adresse</th>
                            <th scope="col">telephone</th>
                            <th scope="col">email</th>
                            <th scope="col">poste</th>
                            <th scope="col">date entree</th>
                            <td scope="col">modifier</td>
                            <td scope="col">Delete</td>

                        </tr>
                        </thead>
                        <tbody>
                        <tr{% for s in Staff %}>
                            <td>{{ s.id }}</td>
                            <td>{{ s.nomstaff }}</td>
                            <td>{{ s.prenomstaff }}</td>

                            <td>{{ s.sexe }}</td>
                            <td>{{ s.adresse }}</td>
                            <td>{{ s.telephone}}</td>
                            <td>{{ s.email }}</td>
                            <td>{{ s.poste }}</td>
                            <td>{{ s.DateEntree }}</td>
                            <td><a href="{{ path('updatestaff',{'id':s.id}) }}" > Update </a> </td>
                            <td><a href="{{ path('s',{'id':s.id}) }}">Delete</a></td>
                        </tr{% endfor %}>
                        <class="navigation">
                        <a href="{{ path('staff_list') }}">Imprimer</a>
                        </class>


                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
    </body>
    </html>
{% endblock %}