

{% extends 'base-back.html.twig' %}

{% block body %}
    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no">
        <meta http-equiv="X-Ua-Compatible" Content="ie=edge">
    </head>
    <body>
    <h1>Liste Des Clients</h1>
    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-12">
                <div class="bg-light rounded h-100 p-4">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">nom</th>
                            <th scope="col">prenom</th>
                            <th scope="col">date de naiss</th>
                            <th scope="col">sexe</th>
                            <th scope="col">adresse</th>
                            <th scope="col">telephone</th>
                            <th scope="col">email</th>
                            <th scope="col">username</th>
                            <th scope="col">password</th>
                            <td scope="col">modifier</td>
                            <td scope="col">Delete</td>

                        </tr>
                        </thead>
                        <tbody>
                        <tr{% for c in Client %}>

                            <td>{{ c.Id }}</td>

                            <td>{{ c.NomC}}</td>

                            <td>{{ c.PrenomC}}</td>
                            <td>{{ c.DateDeNaissC }}</td>

                            <td>{{ c.SexeC }}</td>

                            <td>{{ c.AdresseC }}</td>
                            <td>{{ c.TelephoneC }}</td>
                            <td>{{ c.EmailC }}</td>
                            <td>{{ c.Username }}</td>
                            <td>{{ c.Password }}</td>
                            <td><a href="{{ path('updateclient',{'id':c.id}) }}">Update</a></td>
                            <td><a href="{{ path('d',{'id':c.id}) }}">Delete</a></td>
                        </tr{% endfor %}>

                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
    </body>
    </html>
{% endblock %}