{% extends 'base-back.html.twig' %}

{% block body %}
    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no">
        <meta http-equiv="X-Ua-Compatible" Content="ie=edge">
    </head>
    <body>

    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-12">
                <div class="bg-light rounded h-100 p-4">
                    <div align="center">
                    <form method="post" action="{{ path('recherche') }}" align="centre">
                        <input type="text" name="search"> <input type="submit" value="recherche">
                    </form>
                    </div>
                    <button type="submit" class="btn btn-square btn-outline-secondary m-2"><a href="{{ path('afficheS') }}"><i class="fa fa-home"></i></a></button>



                    <h1 align="center" class="p-2 mb-2 bg-info text-white">{% trans %}Resultat de Recherche{% endtrans %}</h1>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">{% trans %}Numero{% endtrans %}</th>
                            <th scope="col">{% trans %}Surface{% endtrans %}</th>
                            <th scope="col">{% trans %}Nom{% endtrans %}</th>
                            <th scope="col">{% trans %}Capacite{% endtrans %}</th>
                            <th scope="col">Description</th>
                            <th scope="col">{% trans %}Nombre max de cours{% endtrans %}</th>
                            <th scope="col">{% trans %}Supprimer{% endtrans %}</th>
                            <th scope="col">{% trans %}Modifier{% endtrans %}</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for s in salle %}
                            <tr>
                                <th scope="row"> {{ s.Id }} </th>
                                <td> {{ s.Surface }} </td>
                                <td> {{ s.NomS}} </td>
                                <td> {{ s.CapaciteS}} </td>
                                <td> {{ s.description}} </td>
                                <td> {{ s.nbCoursMaxS}} </td>
                                <td><button type="submit" class="btn btn-info"> <a href="{{ path('sup',{'Id':s.Id}) }}" class="text-white">{% trans %}Supprimer{% endtrans %}</a> </button></td>
                                <td><button type="submit" class="btn btn-info"> <a href="{{ path('mod',{'Id':s.Id}) }}" class="text-white">{% trans %}Modifier{% endtrans %}</a></button></td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>

                </div>
            </div>

        </div>
    </div>
    </body>
    </html>
{% endblock %}
